[Desktop Entry]
Name=Nexion Lite
Comment=Lightweight Python browser
Exec=nexion-lite
Icon=nexion-lite
Terminal=false
Type=Application
Categories=Network;WebBrowser;